<div>
  <div class='formContainerMesagges'>
    <h1 class="titleMesagges ">
    No se puede continuar:<br>
    {{error}}
    </h1>
  </div>
  <script>
    setTimeout(() => { location.href = '/' }, 2000)
  </script>
</div>