<div>
  <div class='formContainerMesagges'>
    <h1 class="titleMesagges ">
      Saliendo de la sesion para registrar una nueva cuenta
    </h1>
  </div>
  <script>
    setTimeout(() => { location.href = '/logout' }, 5000)
  </script>
</div>