<h1 class="userDataId" >Bienvenid@ {{name}}</h1>
<button class="css-button-sliding-to-top--blue " id='logoutbtn' onclick="location.href='/logout'">Logout</button>
<br>
<div class="mainContenedor">
    {{>vistaProductos }}
    {{>vistaCarrito }}       
</div>
<script src='/api/index.js'></script>