body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  background-color: darkgrey;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: auto;
  background-color: #efefef;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  border-radius: 10px;
  padding: 30px;
}

.title {
  color: #2c0b8e;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.thumbContainer img {
  width: 200px;
  height: auto;
}

.input {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.inputSpace {
  width: 500px;
}

.formContainerMesagges {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 700px;
  height: 100%;
  background-color: #2c0b8e;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  border-radius: 10px;
  padding: 30px;
  gap: 20px;
}

.titleMesagges {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.distinto {
  color: yellow;
}

.formMesagges {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 75%;
  height: auto;
}

.containerNombreBtn {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.inputMsgNombre {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: auto;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  border-radius: 5px;
}

.inputMsg {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: auto;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  border-radius: 5px;
}

#mesaggesWall {
  color: #fff;
  border-style: solid;
  border-color: #fff;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px;
}

.css-button-sliding-to-top--blue {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #2c0b8e;
  color: #fff;
  overflow: hidden;
  border: 2px solid #fff;
  margin: 20px;
}

.css-button-sliding-to-top--blue2 {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #2c0b8e;
  color: #2c0b8e;
  margin: 20px;
}

.css-button-sliding-to-top--blue:hover {
  background-color: #fff;
  border: 2px solid #2c0b8e;
  color: #2c0b8e;
}

.css-button-sliding-to-top--blue2:hover {
  color: #fff;
}

.css-button-sliding-to-top--blue:hover:after {
  height: 100%;
}

.css-button-sliding-to-top--blue2:hover:after {
  height: 100%;
}

.css-button-sliding-to-top--blue:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #fff;
}

.css-button-sliding-to-top--blue2:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #2c0b8e;
}

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:auto;
  height: auto;
  background-color: #efefef;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  border-radius: 10px;
  padding: 20px;
}

.titleHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: auto;
  background-color: #2c0b8e;
  border-style: solid;
  border-color: #2c0b8e;
  border-width: 2px;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
}

.titleNombre,
.titlePrecio,
.productTitle,
.productPrice {
  width: 30%;
  text-align: left;
 ;
}

.btnAdd {
  width: 30%;
  background-color: #2c0b8e;
  color: #efefef;
  margin: 10px;
  border-style: hidden;
  border-radius: 30px;
}

.btnAdd:hover {
  background-color: #efefef;
  color: #2c0b8e;
  border-style: solid;
  border-width: 2px;
  border-color: #2c0b8e;
}

.btnRemove {
  width: 30%;
  color: #2c0b8e;
  margin: 10px;
  border-style: hidden;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #2c0b8e;
}

.btnRemove:hover {
  color: #efefef;
  background-color: #2c0b8e;
}

.titleFoto,
.productThumbnail {
  width: 40%;
  text-align: center;
}

.productData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: auto;
  border-style: solid;
  border-color: #2c0b8e;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.productThumbnail img {
  width: 200px;
  height: auto;
}

.carritoProductoData {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-style: solid;
  border-color: #2c0b8e;
  border-width: 2px;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
  width:100%;
  height: auto;
}

.carritoProductoData #ProductTitle {
  width: 50%;
  text-align: left;
}

.carritoProductoData #carritoProductoPrice {
  width: 20%;
  text-align: left;
}

.carritoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:auto;
  height: auto;
  background-color: #efefef;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  border-radius: 10px;
  padding: 20px;
}

.mainContenedor {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  gap: 10px;
}

.carritoButtonsContainer {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 30px;
  padding: 10px;
  margin-top: 10px;
}

.totalText {
  margin-top: 10px;
  border-top-color: #2c0b8e;
  border-top-width: 2px;
  border-top-style: solid ;
  width: 100%;
  color: #2c0b8e;
}

.btnPagar {
  background-color: #2c0b8e;
  color: #efefef;
  margin: 10px;
  border-style: hidden;
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  height: auto;
}

.btnPagar:hover { 
  background-color: #efefef;
  color: #2c0b8e;
  border-style: solid;
  border-color: #2c0b8e;
  border-width: 2px;
}

.btnBorrar {
  color: #2c0b8e;
  border-style: hidden;
}